/* ==============================================================================手機板 */
:root {
  --color-primary: #f5cd53;
  --color-secondary: #e9562a;
  --color-accent: #299ea7;
  --color-light-green: #6fe9b8;
  --color-white: #f3f2e4;
  --color-text: #333;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Zen Maru Gothic", sans-serif;
  background-color: var(--color-primary);
  color: var(--color-text);
}

section {
  position: relative;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
}

.container {
  width: 100%;
  margin: auto;
  position: relative;
  z-index: 2;
  padding-left: 16px;
  padding-right: 16px;
}

#title,
#about,
#experience,
#work,
#contact {
  top: 97px;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

p {
  color: var(--color-text);
  margin: 0;
}

.go-to-top {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 100;
}

.go-to-top img {
  width: 40px;
}

body {
  background-color: var(--color-white);
  padding: 20px;
}

/* ===========================================================================navbar */
.header {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  border-bottom: 1px solid #e9832a;
  background: #f5cd52;
  z-index: 10;
}

.logo {
  padding: 10px;
  position: relative;
  width: 50px;
  height: 50px;
}

.logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
}

.img-b {
  opacity: 0;
  pointer-events: none;
}

.logo:hover .img-b {
  opacity: 1;
}

.logo:hover .img-a {
  opacity: 0;
}

.logo>a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.custom-toggler {
  position: relative;
  width: 30px;
  height: 22px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.custom-toggler span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #e9562a;
  border-radius: 1px;
  transition: all 0.3s;
  transform-origin: center;
}

.custom-toggler span:nth-child(1) {
  top: 0;
}

.custom-toggler span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.custom-toggler span:nth-child(3) {
  bottom: 0;
}

/* 點擊變叉叉 */
.custom-toggler.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
}

.custom-toggler.active span:nth-child(2) {
  opacity: 0;
}

.custom-toggler.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 50%;
}

.custom-toggler:hover,
.custom-toggler:focus,
.custom-toggler:active {
  border: none;
  background: transparent;
  box-shadow: none;
  outline: none;
}

.custom-navbar .nav-link {
  color: #e9832a;
  font-size: 22px;
  font-weight: 500;
  position: relative;
  transition: color 0.3s;
}

.custom-navbar .nav-link:hover {
  color: #ffffff;
}

.custom-navbar .nav-link {
  position: relative;
  z-index: 1;
}

.custom-navbar .nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  right: -20px;
  bottom: 0;
  background: #e9562a;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: -1;
}

.custom-navbar .nav-link:hover::before,
.custom-navbar .nav-link.active::before {
  opacity: 1;
}

.custom-navbar .nav-link::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 53px;
  height: 16px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  z-index: -1;
}

.custom-navbar .nav-link:hover::after {
  opacity: 1;
}

/* ==========================================================================about */

#about {
  position: relative;
  display: flex;
  flex-direction: column;
}

#about .title h1 {
  margin-bottom: 32px;
}

#about .photo {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  order: 1;
}

#about .photo img {
  width: 85%;
  height: auto;
  display: block;
}

.text-wrapper .slogan-desktop {
  display: none;
}

#about .slogan {
  padding: 8px;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  background-color: #ffffffc2;
  width: 70%;
  position: absolute;
  bottom: -65px;
  left: 0px;
  color: var(--color-text);
  font-size: 20px;
}

.slogan-desktop {
  display: none;
}

#about .slogan p:nth-child(1) {
  margin: 0;
}

#about .slogan p:nth-child(2) {
  font-size: 24px;
  margin: 0;
}

#about .introduce p {

  margin-bottom: 32px;

}

#about .introduce img {
  width: 60%;
  position: relative;
  margin: auto;
  display: flex;
}

#about .introduce {
  position: relative;
  width: 100%;
  line-height: 32px;
  margin-top: 80px;
  margin-bottom: 60px;
  padding: 0;
  order: 3;
}

/* ==========================================================================experience */

#experience {
  position: relative;
  margin-bottom: 120px;
}

#experience .work-experience .work1-title p {
  color: var(--color-accent);
  font-size: 18px;
  line-height: 36px;
  padding-bottom: 20px;
  font-weight: 500;
}

.work1-text li {
  padding-bottom: 20px;
  color: #299ea7;
}

.work1-text ul {
  padding-left: 12px;
  list-style: none;
}

.work1-text ol {
  padding-left: 12px;
}

.work1-text p {
  font-size: 16px;
  line-height: 32px;
}

.work1-t {
  color: var(--color-accent);
  font-weight: 500;
}

/* ======================================================================================autobiography */
#autobiography {
  position: relative;
  margin-bottom: 0px;
}

.container p {
  font-size: 16px;
  line-height: 32px;
  padding-bottom: 20px;
}

.container .work1-t {
  padding-bottom: 0px;
}

.container ul {
  padding-left: 0px;
  list-style: none;
}

/* ==========================================================================contact */
#contact {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#contact .contact-container .design .title {
  font-size: 24px;
  color: var(--color-accent);
  display: flex;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.introduce p {
  color: var(--color-accent);
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 16px;
}

.social-icons img {
  height: 50px;
  margin: 12px;
}

#contact .contact-container .design .title {
  display: flex;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#contact .contact-container .design .introduce {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.contact-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.site-footer {
  width: 100%;
  position: relative;
  margin-top: auto;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-icons img {
  height: 50px;
  margin: 12px;
}

.copyright {
  color: var(--color-accent);
  font-size: 16px;
  line-height: 24px;
  margin: auto;
}

.footer-container {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

/* ===========================================================================電腦版 */
@media (min-width: 768px) {
  .container {
    max-width: 1200px;
  }

  body {
    margin: auto;
    max-width: 1200px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .header-container {
    max-width: 1200px;
  }

  .go-to-top {
    position: fixed;
    bottom: 30px;
    right: 80px;
    z-index: 100;
  }

  .go-to-top img {
    width: 80px;
  }

  /* ======================================================================================Navbar */
  .custom-navbar .nav-link::after {
    color: #e9562a;
    background-color: none;
    background: url("../imgs/navbar-border-button-hover.svg") no-repeat left/contain;
  }

  .custom-navbar .nav-link:hover {
    color: #e9562a;
    background: none;
  }

  .custom-navbar .nav-link::before {
    content: none;
  }

  .custom-toggler span {
    display: none;
  }

  .navbar-nav {
    gap: 32px;
  }

  .hero-title-wrapper {
    transform: scale(0.8);
    margin-left: 0;
  }

  /* ======================================================================================about */


  #about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    gap: 40px;
    /* padding-left: 100px;
    padding-right: 100px; */
    padding-bottom: 80px;
  }

  #about .title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: start;
  }

  #about .photo img {
    max-width: 100%;
    height: auto;
  }

  .slogan-desktop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .slogan-desktop p {
    padding-left: 32px;
    font-size: 36px;
    padding-bottom: px;
    font-weight: 400;
  }

  .slogan-desktop span {
    padding-left: 32px;
    width: 80%;
    display: block;
    padding-top: 32px;
    font-size: 16px;
    line-height: 32px;
  }

  .slogan-m {
    display: none;
  }

  #about .slogan {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    position: relative;
    background-color: transparent;
    border: none;
    font-size: 20px;
    width: 90%;
    padding: 0;
    margin: 0;
    bottom: 0;
    top: 30px;
  }

  #about .introduce {
    display: none;
  }

  #about .photo {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  #about .photo img {
    max-width: 100%;
    height: auto;
  }

  .slogan-m {
    display: none;
  }

  .slogan-desktop img {
    padding-top: 40px;
    width: 50%;
    margin: auto;
  }

  /*========================================================================experience*/
  .work1-title {
    padding-left: 200px;
  }

  .work1-text ul {
    padding-left: 200px;
  }

  .work1-text ol {
    padding-left: 200px;
  }

  /* ======================================================================================autobiography */

  .container ul {
    padding-left: 180px;
  }

  /*========================================================================contact*/

  .contact-container {
    padding: 0px;
  }

  #contact .contact-container .design .introduce {
    text-align: center;
    margin-bottom: 40px;
  }

  .site-footer {
    width: 100%;
    position: relative;
    margin-top: auto;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .social-icons img {
    height: 50px;
    margin: 12px;
  }

  .copyright {
    color: var(--color-accent);
    font-size: 16px;
    line-height: 24px;
    margin: auto;
  }

  .footer-container {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
}